@import '~@css/includes/helpers';

.slide-show {
  position: relative;
  width: 298px;
  height: 298px;
  cursor: pointer;
  clip-path: circle(298px);

  @include media('>phone') {
    width: 414px;
    height: 414;
    cursor: pointer;
    clip-path: circle(414px);
  }

  &__slide {
    position: absolute;
    width: 100%;
    height: 100%;

    &.animate {
      transition: left 0.3s
    }

    


  }
}
