@import '~@css/includes/helpers';

.credit-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 298px;
  height: 298px;

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @include media('>phone') {
    width: 414px;
    height: 414px;
  }
}
