@import '~@css/includes/helpers';

.long-term-debt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 298px;
  height: 298px;
  
  @include media('>phone') {
    width: 414px;
    height: 414px;
  }

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 320px;
  }
}
