@import './includes/helpers';

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: $font-color;
}

div.root {
  height: 100%;
}
